
@{
    ViewBag.Title = "XacNhanDangKy";
    Layout = "~/Views/Shared/_LayoutTest01.cshtml";
}

<h2>Thông tin đăng ký học phần đã lưu</h2>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>

