@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutTest01.cshtml";
}

<div class="jumbotron">
    <h1>Nguyễn Minh Nhật</h1>
    <h1>1911061362</h1>
    <hr />
    <p class="lead">Website đăng ký học phần</p>
</div>